<section class="all-rants">
  {{#each rant in model}}
  <div class="a-rant">
    <header class="rant-header">
      {{#link-to 'rant' rant}}
        <h3>{{rant.title}}</h3>
      {{/link-to}}
      {{#link-to 'rant.edit' this}}
        <button class="edit-rant">Edit</button>
      {{/link-to}}
    </header>
    <div class="small-user-area">
      <div class="small-user-photo"></div>
    </div>
    <p>{{rant.body}}</p>
  </div>
  {{/each}}
</section>

{{outlet}}
