<div class="a-rant">
  <header class="rant-header">
    <h3>{{title}}</h3>
    <button class="edit-rant">Edit</button>
  </header>
  <div class="small-user-area">
    <div class="small-user-photo"></div>
  </div>
  <p>{{body}}</p>
</div>
